
<h2>Grenada</h2>
<p>Coastal Resilience is a decision support tool that provides local, state and national planners a step-wise process to guide decisions to reduce the ecological and socio-economic risks of coastal hazards.</p>

<h3 class="i18n" data-i18n="Partners">Partners</h3>
<div class="partners" >
    <ul style="list-style-type: none; padding: 0px;">
    

	<li style="display: inline-block; padding: 4px;">
            <a href="https://www.bmu.de/en/" target="_blank">
                <img src="img/BMU100.png" alt="Federal Ministry of the Environment Nature Conservation and Nuclear Safety" title="Federal Ministry of the Environment Nature Conservation and Nuclear Safety">
            </a>
        </li>
	    
	 <li style="display: inline-block; padding: 4px;">
            <a href="https://media.ifrc.org/ifrc/" target="_blank">
                <img src="img/IFRC100.png" alt="IFRC" title="IFRC">
            </a>
        </li>
	    <li style="display: inline-block; padding: 4px;">
            <a href="http://nature.org" target="_blank">
                <img src="img/TNC100.png" alt="The Nature Conservancy" title="The Nature Conservancy">
            </a>
        </li>
            
        <li style="display: inline-block; padding: 8px;">
            <a href="https://www.ifrc.org/en/what-we-do/where-we-work/americas/grenada-red-cross-society/" target="_blank">
                <img src="img/GRCS100.png" alt="Grenada Red Cross" title="Grenada Red Cross">
            </a>
        </li>
	    
	    
    
    </ul>
</div>
        
<div style="text-align:center;">
	<button class="button button-primary openApp">Get Started</button>
</div>	

<script>
	$(".openApp").click(function(c){
		$(c.currentTarget).parent().parent().parent().find(".button-link").trigger("click")
	})
</script>
